
{% extends 'base.html' %}

{% block title %}View all the Blogs{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
{% endblock %}

{% block content %}
    <main>
        <form method="GET" action="{{ url_for('blogs') }}">
            <div>
                <label for="year">Year</label>
                <input type="number" id="year" name="year" required>
            </div>
            <div>
                <label for="month">Month</label>
                <input type="number" id="month" name="month" required>
            </div>
            <button type="submit">View Blogs</button>
        </form>

        <section class="blog-list">
            {% for blog in blogs %}
            <div class="blog-post">
                <h2>{{ blog.title }}</h2>
                {% if blog.image_path %}
                <img src="{{ url_for('static', filename=blog.image_path.split('static/', 1)[1]) }}" alt="{{ blog.title }}">
                {% endif %}
                <p>{{ blog.content }}</p>
                <p>Posted on {{ blog.date.strftime('%Y-%m-%d') }}</p>
            </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}
