/* static/css/register.css */

/* Register Page Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(45deg, #12838b, #d0eef3);
    min-height: 100vh; /* Ensure body takes full viewport height */
    display: flex;
    flex-direction: column; /* Allows footer to be positioned correctly */
}

.hero {
    flex: 1; /* Allow hero to take available space */
    width: 100%;
    background: linear-gradient(45deg, #618d91, #d0eef3);
    background-position: center;
    background-size: cover;
    display: flex; /* Center form-box */
    justify-content: center;
    align-items: center;
}

.form-box {
    height: 460px;
    width: 350px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 20px 0 #00000033;
    transition: height 0.3s ease;  /* Add transition for height */
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box h2 {
    margin: 0 0 40px; /* Add some margin below the heading */
    font-size: 24px; /* Adjust the font size */
    color: #12838b; /* Use a color that matches the theme */
}

.input-group {
    width: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-box {
    width: 130px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.toggle-btn {
    padding: 10px 15px;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    /* cursor: pointer; */
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(45deg, #12838b, #d0eef3);
    border-radius: 30px;
    transition: 0.5s;
}

.social-icons {
    margin: 30px auto;
    text-align: center;
}

.social-icons img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    background: linear-gradient(45deg, #12838b, #d0eef3);
    border: none;
    outline: none;
    border-radius: 30px;
}

#register {
    left: 50px;
}

/* Ensure footer is visible */
footer {
    padding: 20px;
    background-color: #12838b;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    flex-shrink: 0; /* Ensure footer stays at the bottom */
}
